*,::after,::before{
    margin: 0;
    padding: 0;
}
h1{
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
body{
    background-color: plum;
    
}
#nombre{

    padding:20px;
    border:5px solid rgb(244, 237, 22);
    border-radius: 5px;
    background-color: deepskyblue;
    font-size: 18px;
       
}

#mostra{
    /* font-size: 30px; */
    background-color: lightcoral;
    text-align: center;
    padding:20px;
    width: 20vw;
    height: 70px;
    margin: auto;
}